<div class="hub">
    <h1>Get coding</h1>
    <div class="hub-programas">
        <div class="hub-programas-tarjetas">
            <h2>Exe 1</h2>
            <p><span>€ 700,05</span> 6 weeks access to:</p>
            <div class="tarjeta">
                
                <ul>
                    <li>Access to the basic/intermedium level of all coding</li>
                    <li>Access to multiple databases around the world</li>
                    <li>Limited 10 hours a day access</li>
                    <li>Get 1 Q&A weekly</li>
                </ul>
            </div> 
        </div>
        <div class="hub-programas-tarjetas">
            <h2>Implant 2</h2>
            <p><span>€ 15.000,25</span> 1 year access</p>
            <div class="tarjeta">
                
                <ul>
                    <li>All Exe 1 benefits plus:</li>
                    <li>Access to advanced coding</li>
                    <li>Unlimited daily access</li>
                    <li>5 Q&A weekly, plus individual guidance</li>
                    <li>Help in one proyect</li>
                    <li>Access and contact to al DP,DW and HX linked sites</li>  
                </ul> 
            </div>
        </div>
    </div>
</div>
