<div class="login">
    <div class="login-clase">
        <h1>LOGIN</h1>
        <div class="login-clase-form">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div>
                    <input type="email" placeholder="Email" formControlName="email" />
                    <p *ngIf="(submited && loginForm?.get('email')?.hasError('required'))">Required</p>
                    <p *ngIf="(submited && loginForm?.get('email')?.hasError('pattern'))">Invalid format, please try again</p>
                </div>
                <div>
                    <input type="password" placeholder="Password" formControlName="password" />
                    <p *ngIf="(submited && loginForm?.get('password')?.hasError('required'))">Required</p>
                    <p *ngIf="(submited && loginForm?.get('password')?.hasError('pattern'))">Password must include; special character, a symbol and a capital letter</p>
                </div>
                <button>Deep</button>
            </form>
        </div>
    </div>
</div>