<div class="clases">
    <div class="clase" *ngIf="clase">
        <h2>{{clase.name}}</h2>
        <h4>Duration: {{clase.duration}}</h4>
        <h4>IP: {{clase.class}}</h4>
        <h4>Type: {{clase.type}}</h4>
        <img src="{{clase.img}}" alt="{{clase.name}}"/>
        <div class="clase-buttons">
            <button><a routerLink="/clases">Volver</a></button>
            <button *ngIf="classApi.getToken() && classApi.isAdminRole()" (click)="editar()">Edit</button>
            <button *ngIf="classApi.getToken() && classApi.isAdminRole()" (click)="borrar()">Delete</button>
    
        </div>
    </div>
</div>

