.background { 

    width: 100vw;
    height: 100vh;
 
    background-image: url(https://img.freepik.com/fotos-premium/matriz-verde-fondo-digital-concepto-codificacion-o-pirateria-concepto-datos-abstracto-representacion-3d_634443-268.jpg?w=2000);
    background-size: cover;

}



